<h3 class="text-center text-capitalize">tab without using ngFor</h3>
<ul class="nav nav-pills justify-content-center">
  <li (click)="selectedSkill = 'html'" class="nav-item">
    <a
      [ngClass]="{ active: selectedSkill.toLowerCase().includes('html') }"
      href="javascript:;"
      class="nav-link active"
      >HTML</a
    >
  </li>
  <li (click)="selectedSkill = 'css'" class="nav-item">
    <a
      [ngClass]="{ active: selectedSkill.toLowerCase().includes('css') }"
      href="javascript:;"
      class="nav-link"
      >CSS</a
    >
  </li>
  <li (click)="selectedSkill = 'javascript'" class="nav-item">
    <a
      [ngClass]="{
        active: selectedSkill.toLowerCase().includes('javascript')
      }"
      href="javascript:;"
      class="nav-link"
      >JAVASCRIPT</a
    >
  </li>
  <li (click)="selectedSkill = 'angular'" class="nav-item">
    <a
      [ngClass]="{
        active: selectedSkill.toLowerCase().includes('angular')
      }"
      href="javascript:;"
      class="nav-link"
      >ANGULAR</a
    >
  </li>
</ul>

<div class="tab-content mt-3">
  <div class="card" *ngIf="selectedSkill.toLowerCase().includes('html')">
    <div class="card-body text-dark">
      <strong>HTML</strong> Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Laudantium dolor unde architecto, animi tenetur molestias explicabo
      iste iure omnis ratione quibusdam numquam, culpa beatae quidem!
    </div>
  </div>
  <div class="card" *ngIf="selectedSkill.toLowerCase().includes('css')">
    <div class="card-body text-dark">
      <strong>CSS</strong> Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Laudantium dolor unde architecto, animi tenetur molestias explicabo
      iste iure omnis ratione quibusdam numquam, culpa beatae quidem!
    </div>
  </div>
  <div class="card" *ngIf="selectedSkill.toLowerCase().includes('javascript')">
    <div class="card-body text-dark">
      <strong>JAVASCRIPT</strong> Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Laudantium dolor unde architecto, animi tenetur
      molestias explicabo iste iure omnis ratione quibusdam numquam, culpa
      beatae quidem!
    </div>
  </div>
  <div class="card" *ngIf="selectedSkill.toLowerCase().includes('angular')">
    <div class="card-body text-dark">
      <strong>ANGULAR</strong> Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Laudantium dolor unde architecto, animi tenetur
      molestias explicabo iste iure omnis ratione quibusdam numquam, culpa
      beatae quidem!
    </div>
  </div>
</div>
